

<aside id="sidebar">

    <div id="nav-blog" class="sidebar-item">
        
        
        <div *ngIf= "titulo === 'ceramica'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>

          <h3 class="admin-titulo">Administrador</h3>

          <div class="admin-botones">
            <button mat-icon-button matTooltip="Agregar Ficha" [routerLink]="['/ceramica']" color="primary">
              <mat-icon>note_add</mat-icon>
            </button>
            <button mat-icon-button matTooltip="Exportar a Excel" [routerLink]="['/formulario']" color="accent">
              <mat-icon>file_download</mat-icon>
            </button>
          </div>

        <div class="busqueda">
          <h4>Buscador</h4>
          <p>Investigador, Tipo de Pieza, Núm Pieza o Registrador</p>
          <form (ngSubmit)="goSearch()">
            <input type="text" [(ngModel)]="searchString" name="search" placeholder="Buscar..." />
            <button mat-icon-button type="submit" color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </div>


        <div class="busqueda">
          <h4>Buscador Combinado</h4>
          <p>Registrador y Núm de Pieza</p>
          <form (ngSubmit)="goSearchComb()">
            <input type="text" [(ngModel)]="searchString2" name="search2" placeholder="Buscar..." />
            <button mat-icon-button type="submit" color="primary">
              <mat-icon>search</mat-icon>
            </button>
          </form>
        </div>

      </div>
        <div *ngIf= "titulo === 'contexto'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3 class="admin-titulo">Administrador</h3>
            <!-- <a [routerLink]="['/ficha-contexto']" class="btn btn-success">Agregar Ficha</a> -->
            <a [routerLink]="['/ficha-contexto']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
              <mat-icon>add_shopping_cart</mat-icon>    
          </a>
          <a [routerLink]="['/contexto-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
            <mat-icon>cloud_download</mat-icon>    
        </a>  

        <div id="search" class="sidebar-item">
          <h3>Buscador</h3>
          <p>Investigador ó Proyecto</p>
          <form #searchForm="ngForm" (ngSubmit)= "goSearchCont()">
              <input type="text" name="search" [(ngModel)] ="searchString"/>
                <button class="btn btn-outline-success" type="submit">
                  <mat-icon>search</mat-icon></button>
          </form>
        </div> 

        </div>

        <div *ngIf= "titulo === 'litico'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3 class="admin-titulo">Administrador</h3>
          <a [routerLink]="['/ficha-litica']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
        <a [routerLink]="['/litica-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>  

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchLit()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 

     
        <h3>Buscador Combinado</h3>
        <p>Registrador y Núm de Pieza</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchCombLit()">
            <input type="text" name="search3" [(ngModel)] ="searchString3"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
  
  
        </div>

        <div *ngIf= "titulo === 'metalico'"> 
          <img src="assets/images/logoac.jpg" alt="User Icon" />
          <hr>
          <h3 class="admin-titulo">Administrador</h3>
          <a [routerLink]="['/ficha-metal']" data-toggle="tooltip" data-placement="top" title="Agregar Ficha" class = "btn btn-outline-warning">
            <mat-icon>add_shopping_cart</mat-icon>    
        </a>
         <a [routerLink]="['/metal-excel']" data-toggle="tooltip" data-placement="top" title="Exportar Excel" class = "btn btn-outline-success">
          <mat-icon>cloud_download</mat-icon>    
      </a>   

      <div id="search" class="sidebar-item">
        <h3>Buscador</h3>
        <p>Investigador ó Proyecto</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchMet()">
            <input type="text" name="search" [(ngModel)] ="searchString"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
      </div> 

      <h3>Buscador Combinado</h3>
        <p>Registrador y Núm de Pieza</p>
        <form #searchForm="ngForm" (ngSubmit)= "goSearchCombMet()">
            <input type="text" name="search3" [(ngModel)] ="searchString4"/>
              <button class="btn btn-outline-success" type="submit">
                <mat-icon>search</mat-icon></button>
        </form>
  
        </div>

        <div *ngIf= "titulo === 'sitio'"> 
          <h3 *ngIf="registrado == true" class="admin-titulo text-danger">Administrador</h3>
          <h3 *ngIf="administrador == true" class="admin-titulo">Usuario Arqueólogo</h3>

          <div class="admin-botones" *ngIf="registrado == true">
            <button mat-icon-button matTooltip="Asignar Perfiles" [routerLink]="['/perfiles']" color="primary">
            <mat-icon>supervisor_account</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Agregar Monumento" [routerLink]="['/ficha-origenes']" color="accent">
          <mat-icon>map</mat-icon>
          </button>

          <button mat-icon-button matTooltip="Estadísticas de Ingreso" [routerLink]="['/dashboard-estadisticas']" color="accent">
            <mat-icon>bar_chart</mat-icon>
            </button>
          </div>
       
      
 

      <div id="search">
              <hr>        
              <h3>Buscador Monumentos</h3>
 

<!-- PROVINCIA -->
<div class="busqueda-fila">
  <select [(ngModel)]="selectedProvincia" (change)="onSelect($event)">
    <option [ngValue]="null">--Seleccione Provincia--</option>
    <option *ngFor="let provincia of provincias" [ngValue]="provincia">
      {{ provincia.title }}
    </option>
  </select>
</div>

<!-- CANTÓN -->
<div class="busqueda-fila">
  <select [(ngModel)]="selectedCanton" (change)="onSelectCanton($event)">
    <option [ngValue]="null">--Seleccione Cantón--</option>
    <option *ngFor="let canton of cantones" [ngValue]="canton">
      {{ canton.title }}
    </option>
  </select>
</div>

<!-- DISTRITO -->
<div class="busqueda-fila">
  <select [(ngModel)]="selectedDistrito">
    <option [ngValue]="null">--Seleccione Distrito--</option>
    <option *ngFor="let distrito of distritos" [ngValue]="distrito">
      {{ distrito.title }}
    </option>
  </select>
</div>

<!-- BOTÓN DE BÚSQUEDA -->
<div class="busqueda-fila mt-2">
  <button class="btn btn-primary" (click)="buscarSitios()">
    <mat-icon>search</mat-icon> Buscar
  </button>
</div>

              <br>
              <div class="busqueda-fila">
                <input type="text" placeholder="Nombre o Clave" name="search" [(ngModel)]="searchStringNomb" />
               </div>
               <div class="busqueda-fila mt-2">
               <button class="btn btn-primary" (click)="goSearchNombre()">
                <mat-icon>search</mat-icon> Buscar por Nombre
                </button>
              </div>
              <br> 
              <!-- BOTÓN FILTROS AVANZADOS -->
<div class="busqueda-fila mt-2">
  <button class="btn btn-outline-secondary btn-filtros" (click)="openFilters.emit()">
    <mat-icon>tune</mat-icon>
    Filtros avanzados
  </button>
   <button class="btn btn-link ayuda" (click)="openHelp.emit()">
    <span class="badge-nuevo">Nuevo</span>
    <mat-icon>help_outline</mat-icon>
  </button>
</div>
           
            <hr>
           <div *ngIf="administrador == true">
            <h3>Búsqueda en Mapa</h3>
            <a [routerLink]="['/map-ori']" data-toggle="tooltip" data-placement="top" title="Google Maps" class = "btn btn-outline-warning">
              <img src="assets/images/crlogo.png" width="100" height="100">    
          </a> 
          </div> 

           <div *ngIf="arqueo == true">
           
            <h3>Búsqueda en Mapa</h3>
            <a [routerLink]="['/map-ori']" data-toggle="tooltip" data-placement="top" title="Google Maps" class = "btn btn-outline-warning">
              <img src="assets/images/crlogo.png" width="100" height="100">    
          </a> 
          
          </div>

          <div id="logosmall">
            <img src="assets/images/logoORI3.png" class="logosmall" alt="Logotipo" />
        </div>

        </div> 

      
      
    </div>
  </div>


</aside>

<div class="clearfix"></div>


                