<footer id="footer"> 
    <div class="center">
        <p>
        Para consultas o reportes, comunicarse al correo <a href="mailto:origenes@museocostarica.go.cr?Subject=Consultas%20Gestor">origenes@museocostarica.go.cr</a> o al Telf 2211-5866 
        &copy; TI Museo Nacional Costa Rica 2024 V.5.1
        </p>   
          
    </div> 
     <div>
    <br>
        <img src="assets/images/logogobierno.jpg" alt="Logotipo" />
    </div>   
</footer>

<!-- <div id="logogobierno">
    
    <img src="assets/images/logogobierno.jpg" alt="Logotipo" />
</div> -->
