<footer class="footer">
  <div class="footer-card">

    <p class="footer-text">
      Para consultas o reportes, comunicarse al correo
      <a href="mailto:soporteti@museocostarica.go.cr?Subject=Consultas%20Gestor">
        soporteti@museocostarica.go.cr
      </a>
      o al Tel. 2211-5712
    </p>

    <div class="footer-logos">
      <img src="assets/images/logogobierno.jpg" alt="Logos institucionales" />
    </div>

    <div class="footer-meta">
      © TI Museo Nacional Costa Rica 2026 · V6.1
    </div>

  </div>
</footer>

<!-- <div id="logogobierno">
    
    <img src="assets/images/logogobierno.jpg" alt="Logotipo" />
</div> -->
