<app-header></app-header>

<div class="header-bar">
    <button class="btn btn-outline-secondary" (click)="volver()">
        ← Volver a resultados
      </button>
  
    <span class="titulo-seccion">Ficha Detallada del Monumento</span>
  
    <span class="acciones-admin" *ngIf="administrador && sitio">
      <a [routerLink]="['/sitio-editar/sitio', sitio._id]" mat-icon-button matTooltip="Editar Sitio">
        <mat-icon color="primary">edit</mat-icon>
      </a>
    </span>
  </div>

<mat-tab-group mat-align-tabs="center">

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
            Datos Generales
          </ng-template>

   
<div class="grid-container">

            <mat-card class="card-info"> 
            <mat-card-subtitle>Identificación</mat-card-subtitle>
    
                

                    <mat-card-content *ngIf="sitio">
                        <p><strong>Nombre Monumento:</strong> {{sitio.nombre_sitio}}</p>
                        <p><strong>Clave:</strong> {{sitio.clave_sitio}}</p>
                        <p><strong>Código UCR:</strong> {{sitio.cod_ucr}} </p>
                        <p><strong>Clave Antigua:</strong> {{sitio.clave_antigua}} </p>             
                    
               </mat-card-content>
        </mat-card>

        <mat-card class="card-info full-width">
            <mat-card-subtitle>Tipo de Proyecto</mat-card-subtitle>
                <mat-card-content *ngIf="sitio">  
                    <p><b>Estudio Impacto Ambiental:</b></p>

<p><b>Monitoreo Movimiento Tierras:</b>
  <mat-icon *ngIf="sitio.monitoreo_mov_tierras" color="primary">check_circle</mat-icon>
</p>

<p><b>Evaluación:</b>
  <mat-icon *ngIf="sitio.evaluacion" color="primary">check_circle</mat-icon>
</p>

<p><b>Peritaje:</b>
  <mat-icon *ngIf="sitio.peritaje" color="primary">check_circle</mat-icon>
</p>

<p><b>Excavación Aislada:</b>
  <mat-icon *ngIf="sitio.excavacion_aislada" color="primary">check_circle</mat-icon>
</p>

<p><b>Rescate:</b>
  <mat-icon *ngIf="sitio.rescate" color="primary">check_circle</mat-icon>
</p>

<p><b>Inspección:</b>
  <mat-icon *ngIf="sitio.inspeccion" color="primary">check_circle</mat-icon>
</p>

<p><b>Trabajo Final Graduación:</b>
  <mat-icon *ngIf="sitio.trabajo_graduacion" color="primary">check_circle</mat-icon>
</p>

<p><b>Investigación Regional:</b>
  <mat-icon *ngIf="sitio.regional" color="primary">check_circle</mat-icon>
</p>

<p><b>Investigación SubRegional:</b>
  <mat-icon *ngIf="sitio.subregional" color="primary">check_circle</mat-icon>
</p>


  
            </mat-card-content>
        </mat-card>
   

    <mat-card class="card-info full-width">
     

        

            <mat-card-subtitle>Tipo de Monumento</mat-card-subtitle>

                
                <mat-card-content *ngIf="sitio">  

                   <p><b>Abrigo, Cueva o Caverna:</b>
  <mat-icon *ngIf="sitio.abrigo_cueva_caverna" color="accent">check_circle</mat-icon>
</p>

<p><b>Habitación:</b>
  <mat-icon *ngIf="sitio.habitacion" color="accent">check_circle</mat-icon>
</p>

<p><b>Arquitectónico:</b>
  <mat-icon *ngIf="sitio.arquitectonico" color="accent">check_circle</mat-icon>
</p>

<p><b>Materiales Dispersos:</b>
  <mat-icon *ngIf="sitio.materiales_dispersos" color="accent">check_circle</mat-icon>
</p>

<p><b>Basurero:</b>
  <mat-icon *ngIf="sitio.basurero" color="accent">check_circle</mat-icon>
</p>

<p><b>Petroglifos:</b>
  <mat-icon *ngIf="sitio.petroglifo" color="accent">check_circle</mat-icon>
</p>

<p><b>Camino:</b>
  <mat-icon *ngIf="sitio.camino" color="accent">check_circle</mat-icon>
</p>

<p><b>Salina:</b>
  <mat-icon *ngIf="sitio.salina" color="accent">check_circle</mat-icon>
</p>

<p><b>Conchero:</b>
  <mat-icon *ngIf="sitio.conchero" color="accent">check_circle</mat-icon>
</p>

<p><b>Taller Lítico:</b>
  <mat-icon *ngIf="sitio.taller" color="accent">check_circle</mat-icon>
</p>

<p><b>Funerario:</b>
  <mat-icon *ngIf="sitio.funerario" color="accent">check_circle</mat-icon>
</p>



                      
                
            </mat-card-content>
        </mat-card>
    </div>

    </mat-tab>

    <mat-tab>

        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
            Registro
          </ng-template>

    <div class="grid-container">
        <mat-card class="card-info">
            <mat-card-subtitle>Tipo de Monumento</mat-card-subtitle>
                    <mat-card-content *ngIf="sitio">
                    
                        <p><strong>Registrador:</strong>  {{sitio.registrador}}</p>
                        <hr/>
                        <p><b>Consultoría:</b>
                            <mat-icon *ngIf="sitio.consultoria" color="accent">check_circle</mat-icon>
                          </p>
                          
                          <p><b>Fundación Anastasio Alfaro, MNCR:</b>
                            <mat-icon *ngIf="sitio.fundacion" color="accent">check_circle</mat-icon>
                          </p>
                          
                          <p><b>Instituto Costarricense de Electricidad (ICE):</b>
                            <mat-icon *ngIf="sitio.ice" color="accent">check_circle</mat-icon>
                          </p>
                          
                          <p><b>Literatura:</b></p>
                          
                          <p><b>Museo Nacional de Costa Rica:</b>
                            <mat-icon *ngIf="sitio.mncr" color="accent">check_circle</mat-icon>
                          </p>
                          
                          <p><b>Parques Nacionales:</b>
                            <mat-icon *ngIf="sitio.parques_nacionales" color="accent">check_circle</mat-icon>
                          </p>
                          
                          <p><b>Universidad de Costa Rica:</b>
                            <mat-icon *ngIf="sitio.ucr" color="accent">check_circle</mat-icon>
                          </p>
                          
                       
                        <hr/>
                        <p><strong>Hallazgo:</strong>{{sitio.hallazgo}}</p>
                        <p><strong>Fecha Registro:</strong> {{ sitio.fecha_registro }}</p>
                    
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">public</mat-icon>
          Localización
        </ng-template>
      
        <div class="grid-container">
          <!-- Localización -->
          <mat-card class="card-info">
            <mat-card-subtitle>Localización</mat-card-subtitle>
            <mat-card-content *ngIf="sitio">
              <p><b>Provincia:</b> {{sitio.provincia}}</p>
              <p><b>Cantón:</b> {{sitio.canton}}</p>
              <p><b>Distrito:</b> {{sitio.distrito}}</p>
              <p><b>Hoja Cartográfica:</b> {{sitio.hoja_cartografica}}</p>
              <p><b>Dirección:</b> {{sitio.direccion}}</p>
      
              <mat-divider></mat-divider>
      
              <p><b>Región Arqueológica:</b> {{sitio.region}}</p>
              <p><b>Zona de Vida:</b> {{sitio.zona_vida}}</p>
              <p><b>Altitud:</b> {{sitio.altitud}} msnm</p>
              <p><b>Territorio Indígena:</b>
                <mat-icon *ngIf="sitio.territorio_indigena" color="accent">check_circle</mat-icon>
              </p>
            </mat-card-content>
          </mat-card>
      
          <!-- Coordenadas -->
          <mat-card class="card-info">
            <mat-card-subtitle>Coordenadas</mat-card-subtitle>
            <mat-card-content *ngIf="sitio">
              <p><b>Lambert O-E:</b> {{sitio.lambert_oe}}</p>
              <p><b>Lambert N-S:</b> {{sitio.lambert_ns}}</p>
      
              <mat-divider></mat-divider>
      
              <p><b>CRTM05 N:</b> {{sitio.crtm05_n}}</p>
              <p><b>CRTM05 E:</b> {{sitio.crtm05_e}}</p>
      
              <mat-divider></mat-divider>
      
              <!-- <p>
                <mat-icon>explore</mat-icon>
                <b>Latitud:</b> {{sitio.grad_lat}}° {{sitio.min_lat}}' {{sitio.seg_lat}}"
              </p>
              <p>
                <mat-icon>explore</mat-icon>
                <b>Longitud:</b> {{sitio.grad_long}}° {{sitio.min_long}}' {{sitio.seg_log}}"
              </p> -->
         <p *ngIf="sitio.latitude !== undefined">
        <mat-icon>explore</mat-icon>
          <b>Latitud:</b> {{ convertToDMS(sitio.latitude, true) }}
        </p>

        <p *ngIf="sitio.longitude !== undefined">
          <mat-icon>explore</mat-icon>
          <b>Longitud:</b> {{ convertToDMS(sitio.longitude, false) }}
        </p>

<p><b>Localización GPS:</b>
  <mat-icon *ngIf="sitio.localizacion_gps" color="primary">check_circle</mat-icon>
</p>
</mat-card-content>
</mat-card>
</div>
</mat-tab>

    <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">today</mat-icon>
          Temporalidad
        </ng-template>
      
        <div class="grid-container">
          <mat-card class="card-info"> 
            <mat-card-content *ngIf="sitio">
              <mat-card-subtitle>Período / Fase</mat-card-subtitle>
              <p><b>Composición:</b> {{sitio.composicion_cronologica}}</p>
              <hr />
              <div *ngFor="let periodo of periodosConFase">
                <p>
                  <b>{{ periodo.label }}:</b>
                  <mat-icon *ngIf="sitio[periodo.check]" color="primary">check_circle</mat-icon>
                  <span *ngIf="sitio[periodo.campo]">({{ sitio[periodo.campo] }})</span>
                </p>
              </div>
      
            </mat-card-content>
          </mat-card>
      
          <mat-card class="card-info">
            <mat-card-content *ngIf="sitio">
              <mat-card-subtitle>Datación</mat-card-subtitle>
              <p><b>Lítica:</b> <mat-icon *ngIf="sitio.litica_dat" color="accent">check_circle</mat-icon></p>
              <p><b>Radio Carbono:</b> <mat-icon *ngIf="sitio.radiocarbono_dat" color="accent">check_circle</mat-icon></p>
              <p><b>Cerámica:</b> <mat-icon *ngIf="sitio.ceramica_dat" color="accent">check_circle</mat-icon></p>
              <hr />
              <p><b>Fechamiento Radiométrico:</b> {{sitio.fechamiento_adiometrico}}</p>
              <p><b>Otros:</b> {{sitio.otros_da}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      

      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="example-tab-icon">filter_hdr</mat-icon>
          Trabajo Campo
        </ng-template>
      
        <div class="grid-container">
          <mat-card class="card-info">
            <mat-card-content *ngIf="sitio">
              <mat-card-subtitle>Actividades de Campo</mat-card-subtitle>
      
              <p><b>Excavación:</b> <mat-icon *ngIf="sitio.excavacion_aislada" color="primary">check_circle</mat-icon></p>
              <p><b>Levantamiento Cartográfico:</b> <mat-icon *ngIf="sitio.lev_cartografico" color="primary">check_circle</mat-icon></p>
              <p><b>Recolección de Superficie:</b> <mat-icon *ngIf="sitio.rec_superficie" color="primary">check_circle</mat-icon></p>
              <p><b>Recorrido por Propiedad:</b> <mat-icon *ngIf="sitio.rec_propiedad" color="primary">check_circle</mat-icon></p>
              <p><b>Registro Fotográfico:</b> <mat-icon *ngIf="sitio.registro_fotografico" color="primary">check_circle</mat-icon></p>
              <p><b>Trabajo de Campo:</b> {{sitio.trabajo_campo}}</p>
      
              <hr />
              <p><b>Recolección:</b> {{sitio.recoleccion}}</p>
              <p><b>Arbitraria:</b> <mat-icon *ngIf="sitio.arbitratia" color="accent">check_circle</mat-icon></p>
              <p><b>Probabilística:</b> <mat-icon *ngIf="sitio.probabilistico" color="accent">check_circle</mat-icon></p>
              <p><b>Levantamiento Cartográfico:</b> {{sitio.levantamiento_cartografico}}</p>
      
              <hr />
              <p><b>Excavación:</b> {{sitio.excava}}</p>
              <p><b>Cala Estratatigráfica:</b> <mat-icon *ngIf="sitio.cala_estratatigrafica" color="accent">check_circle</mat-icon></p>
              <p><b>Horizontal:</b> <mat-icon *ngIf="sitio.horizontal" color="accent">check_circle</mat-icon></p>
              <p><b>Limpieza de Perfiles:</b> <mat-icon *ngIf="sitio.limpieza_perfiles" color="accent">check_circle</mat-icon></p>
              <p><b>Limpieza de Rasgos:</b> <mat-icon *ngIf="sitio.limpieza_razgos" color="accent">check_circle</mat-icon></p>
              <p><b>Sondeo:</b> <mat-icon *ngIf="sitio.sondeo" color="accent">check_circle</mat-icon></p>
              <p><b>Trinchera:</b> <mat-icon *ngIf="sitio.trinchera" color="accent">check_circle</mat-icon></p>
            </mat-card-content>
          </mat-card>
      
          <mat-card class="card-info">
            <mat-card-content *ngIf="sitio">
              <mat-card-subtitle>Materiales Recuperados</mat-card-subtitle>
              <hr />
      
              <p><b>Arcilla Cocida:</b> <mat-icon *ngIf="sitio.arcilla_cocida" color="warn">check_circle</mat-icon></p>
              <p><b>Carbón:</b> <mat-icon *ngIf="sitio.carbon" color="warn">check_circle</mat-icon></p>
              <p><b>Cerámica:</b> <mat-icon *ngIf="sitio.ceramica" color="warn">check_circle</mat-icon></p>
              <p><b>Cobre, Guanina o Pirita:</b> <mat-icon *ngIf="sitio.cobre" color="warn">check_circle</mat-icon></p>
              <p><b>Concha:</b> <mat-icon *ngIf="sitio.concha" color="warn">check_circle</mat-icon></p>
              <p><b>Esferas:</b> <mat-icon *ngIf="sitio.esferas" color="warn">check_circle</mat-icon></p>
              <p><b>Estatuaria:</b> <mat-icon *ngIf="sitio.estatuaria" color="warn">check_circle</mat-icon></p>
              <p><b>Fauna:</b> <mat-icon *ngIf="sitio.fauna" color="warn">check_circle</mat-icon></p>
              <p><b>Flora:</b> <mat-icon *ngIf="sitio.flora" color="warn">check_circle</mat-icon></p>
              <p><b>Hierro:</b> <mat-icon *ngIf="sitio.hierro" color="warn">check_circle</mat-icon></p>
              <p><b>Lapidario:</b> <mat-icon *ngIf="sitio.lapidaria" color="warn">check_circle</mat-icon></p>
              <p><b>Lítica:</b> <mat-icon *ngIf="sitio.litica" color="warn">check_circle</mat-icon></p>
              <p><b>Loza:</b> <mat-icon *ngIf="sitio.loza" color="warn">check_circle</mat-icon></p>
              <p><b>Madera o Fibra:</b> <mat-icon *ngIf="sitio.madera_fibra" color="warn">check_circle</mat-icon></p>
              <p><b>Oro:</b> <mat-icon *ngIf="sitio.oro" color="warn">check_circle</mat-icon></p>
              <p><b>Piedra Verde:</b> <mat-icon *ngIf="sitio.jade" color="warn">check_circle</mat-icon></p>
              <p><b>Porcelana:</b> <mat-icon *ngIf="sitio.porcelana" color="warn">check_circle</mat-icon></p>
              <p><b>Resina:</b> <mat-icon *ngIf="sitio.resina" color="warn">check_circle</mat-icon></p>
              <p><b>Restos Humanos:</b> <mat-icon *ngIf="sitio.huesos_humanos" color="warn">check_circle</mat-icon></p>
              <p><b>Tierra:</b> <mat-icon *ngIf="sitio.tierra" color="warn">check_circle</mat-icon></p>
              <p><b>Vidrio:</b> <mat-icon *ngIf="sitio.vidrio" color="warn">check_circle</mat-icon></p>
      
              <p><b>Materiales Recuperados:</b> {{sitio.materiales_recuperados}}</p>
            </mat-card-content>
          </mat-card>
        </div>
      </mat-tab>
      
    

    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">layers</mat-icon>
            Generalidades
          </ng-template>
        <div class="grid-container">
            <mat-card class="card-info"> 
                    <mat-card-content *ngIf="sitio">
                        
                            <p><b>Investigador :</b>{{sitio.investigador}}</p>
                            <p><b>Área Estimada :</b> {{sitio.area_estimada}}</p>
                            <p><b>Profundidad Depósitos : {{sitio.profundidad_depositos}}</b></p> 
                            <p><b>Causa Penal :</b> {{sitio.causa_penal}}</p>
                            <hr/>
                             <p><b>Estado Conservación</b></p> 
                          
                             <p><b>Arado:</b> <mat-icon *ngIf="sitio.arado" color="accent">check_circle</mat-icon></p>
                             <p><b>Biodeterioro:</b> <mat-icon *ngIf="sitio.biodeterioro" color="accent">check_circle</mat-icon></p>
                             <p><b>Construcción:</b> <mat-icon *ngIf="sitio.construccion" color="accent">check_circle</mat-icon></p>
                             <p><b>Erosión:</b> <mat-icon *ngIf="sitio.erosion" color="accent">check_circle</mat-icon></p>
                             <p><b>Huaqueado:</b> <mat-icon *ngIf="sitio.huaqueado" color="accent">check_circle</mat-icon></p>
                             <p><b>Mecanizado:</b> <mat-icon *ngIf="sitio.mecanizado" color="accent">check_circle</mat-icon></p>
                             <p><b>Meteorización:</b> <mat-icon *ngIf="sitio.meteorizacion" color="accent">check_circle</mat-icon></p>
                             <p><b>No Perturbado:</b> <mat-icon *ngIf="sitio.no_perturbado" color="accent">check_circle</mat-icon></p>
                             <p><b>Pastoreo:</b> <mat-icon *ngIf="sitio.pastoreo" color="accent">check_circle</mat-icon></p>
                             <p><b>Sembrado:</b> <mat-icon *ngIf="sitio.sembrado" color="accent">check_circle</mat-icon></p>
                             
                           
                             
                             
                            
                        
                   </mat-card-content>
            </mat-card>
    
            <mat-card class="card-info">
                    <mat-card-content *ngIf="sitio">
                    
                        <p><b>Expediente Setena: </b> {{sitio.expediente_setena}}</p>
                        <hr/>
                        <!-- <p  style="color:blue;"><b>Patrimonio Subacuático</b></p> -->
                       
                        <p><b>Patrimonio Subacuático:</b> {{sitio.patrimonio_acuatico}}</p>

                         <p><b>Paisajes Culturales Sumergidos</b> {{sitio.paisajes_culturales_sumergidos ? "X": " "}}</p>
                        <p><b>Restos de Barcos y otros medios de transporte</b> {{sitio.restos_barcos ? "X": " "}} </p>
                        <p><b>Ruinas de asentamientos humanos y su contexto</b> {{sitio.ruinas_asentamientos ? "X": " "}} </p>
                        <p><b>Sitios Explotación Marina</b> {{sitio.sitios_marina ? "X": " "}} </p>
                        <p><b>Vestigios de Cavernas Sumergidas</b>  {{sitio.vestigios_cavernas ? "X": " "}}</p> 
                        <hr/>
                        <p><b>Reserva Arqueológica</b> {{sitio.reserva_arqueologica ? "X": " "}}</p>
                        <p><b>Río Cercano</b> {{sitio.rio_cercano}} </p>
                        <p><b>Plano Catastro</b> {{sitio.plano_catrasto}} </p>
                        
                   
                </mat-card-content>
            </mat-card>
        </div>
    </mat-tab>

  <!--  <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">local_library</mat-icon>
            Documentación
          </ng-template>
        <div fxLayout="row" fxLayoutAlign="center stretch">
            <mat-card fxFlex ="50" class = "descrip-card"> 
                    <mat-card-content>
                        <div *ngIf="sitio" align="left">
                           
                            <hr/>
                            <p><b>Reportes: </b>{{sitio.reportes}}</p>
                             <p><b>Catalogo de Sitios, UCR :</b> {{sitio.catalogo_sitios_ucr ? "X": " "}}</p>
                            <p><b>Hoja de Registro :</b> {{sitio.hoja_registro ? "X": " "}}</p> 
                            <p><b>Informe :</b> {{sitio.informe ? "X": " "}}</p>
                            <p><b>Monografía :</b> {{sitio.monografia ? "X": " "}}</p>
                            <p><b>Publicación :</b> {{sitio.publicacion ? "X": " "}}</p>
                            <p><b>Tesis :</b> {{sitio.tesis ? "X": " "}}</p> 
                            <hr/>
                            <p><b>Bibliografía : {{sitio.bibliografia}}</b></p>
                            <hr/>
                            <p><b>Material Gráfico: </b>{{sitio.material_grafico}}</p>   
                            <hr/>
                          <p><b>Artefactos : </b>{{sitio.artefactos ? "X": " "}}</p>
                            <p><b>Croquis :</b> {{sitio.croquis ? "X": " "}}</p>
                            <p><b>Diarios de Campo :</b> {{sitio.diarios_campo ? "X": " "}}</p> 
                            <p><b>Dibujos :</b> {{sitio.dibujos ? "X": " "}}</p>  
                            <p><b>Material Fotográfico :</b> {{sitio.material_fotografico ? "X": " "}}</p>   
                            <p><b>Planos :</b> {{sitio.planos ? "X": " "}}</p>
                            <p><b>Videos :</b> {{sitio.video ? "X": " "}}</p> 
                            
                        </div>
                   </mat-card-content>
            </mat-card>
    
            
        </div>
    </mat-tab>-->

<!--     <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">picture_in_picture</mat-icon>
            Imágenes Asociadas
          </ng-template>

           <p *ngIf="sitio"><b>links :</b> {{resultado}}</p>  

     <div *ngIf="mostrar == true" id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
             <div class="carousel-item" *ngFor="let element of resultado?.slice(1) let i = index" [ngClass]="{'active': i === 0}">
            <img src={{this.element}} class="w-50" title={{this.sitio.nombre_sitio}} /> 
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span>Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
     </div> 

     <div *ngIf="mostrar == false" fxLayout="row" fxLayoutAlign="center stretch">
        <div class="image-thumb-repo">                
            <img src="{{url + 'get-image/' + sitio?.image}}" *ngIf="sitio?.image"/>
            <img src="assets/images/default.png" *ngIf="!sitio?.image"/>   
        </div>
    </div>
    


</mat-tab> -->

  </mat-tab-group>
  
  
  