
  <div class="login-container">
    <mat-card class="login-card">
      <!-- Tabs -->
      <div class="tabs-header">
        <h2 class="inactive-tab" [routerLink]="['/']">Acceso</h2>
        <h2 class="active-tab">Registro</h2>
      </div> 
      <!-- Logo -->
      <div class="logo-container">
        <img src="assets/images/logogestor2.png" alt="Logo Gestor" />
      </div>
      <!-- Formulario de registro -->
      <form (submit)="signUp()" #registerForm="ngForm">
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Email</mat-label>
          <input matInput name="email" [(ngModel)]="user.email" type="email" placeholder="ejemplo@correo.com" required />
          <mat-icon matPrefix>email</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Contraseña</mat-label>
          <input matInput name="password" [(ngModel)]="user.password" type="password" required />
          <mat-icon matPrefix>lock</mat-icon>
        </mat-form-field>
  
        <mat-form-field appearance="outline" class="full-width">
          <mat-label>Nombre completo</mat-label>
          <input matInput name="nombre" [(ngModel)]="user.nombre" required />
          <mat-icon matPrefix>person</mat-icon>
        </mat-form-field>
  
        <!-- Botón de registro con tooltip largo -->
        <button
          mat-raised-button
          color="primary"
          type="submit"
          matTooltip="El acceso a los datos de la base de datos de monumentos arqueológicos, ORÍGENES, ha sido modificado en acatamiento a la Resolución 2019005114 de la Sala Constitucional de la Corte Suprema de Justicia..."
          matTooltipClass="tooltip-wide"
        >
          Registro
        </button>
      </form>
    </mat-card>
  </div>
  
  