

  .inicio-container {
    padding: 20px;
    max-width: 1200px;
    margin: auto;
  }
  
  .intro-box {
    background-color: #f8f9fa;
    border-left: 5px solid #3f51b5;
    padding: 24px;
    border-radius: 8px;
    margin-bottom: 20px;
  }
  
  .intro-titulo {
    font-size: 24px;
    font-weight: bold;
    color: #3f51b5;
    margin-bottom: 15px;
    text-align: center;
  }
  
  .intro-texto {
    font-size: 16px;
    line-height: 1.6;
    text-align: justify;
    margin-bottom: 20px;
  }
  
  .aviso-acceso {
    background-color: #fff3cd;
    border-left: 4px solid #ffc107;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .estado-solicitud {
    background-color: #e3f2fd;
    border-left: 4px solid #2196f3;
    padding: 12px;
    border-radius: 4px;
    font-size: 15px;
    margin-top: 10px;
  }
  
  .enlace-politica {
    color: #3f51b5;
    font-weight: bold;
    text-decoration: underline;
  }
  
  .grafico-container {
    margin-top: 30px;
    text-align: center;
  }
  
  .grafico-titulo {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #444;
  }

  .admin-titulo {
  color: #3f51b5;
  font-weight: bold;
  margin-bottom: 10px;
}

.admin-botones {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.busqueda {
  margin-top: 20px;
}

.busqueda h4 {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.busqueda form {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-top: 5px;
}

input[type="text"] {
  flex: 1;
  padding: 5px 10px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

.aviso-acceso{
  background:#fff4d6;
  border-left:6px solid #f0b429;
  padding:18px 16px;
  border-radius:10px;
  margin-top:18px;
}

.acciones-acceso{
  margin-top:12px;
  display:flex;
  gap:12px;
  flex-wrap:wrap;
  justify-content:center;
}

.btn-outline{
  border:1px solid #2c5aa0;
  color:#2c5aa0;
  padding:8px 14px;
  border-radius:8px;
  text-decoration:none;
  font-weight:600;
}

.btn-outline:hover{
  background:#eef4ff;
}

.btn-primary{
  background:#2c5aa0;
  color:white;
  padding:8px 14px;
  border-radius:8px;
  text-decoration:none;
  font-weight:700;
}

.btn-primary:hover{
  background:#244b86;
}


/* nuevo  */

.ori-sidenav-container{
  min-height: calc(100vh - 0px);
  background: #fff;
}

.ori-layout{
  display: grid;
  grid-template-columns: minmax(760px, 1fr) 380px; /* main + sidebar fijo */
  gap: 32px;
  align-items: start;
}

.ori-main{
  min-width: 0;
}

.ori-sidebar{
  width: 380px;     /* fuerza ancho real */
  min-width: 380px; /* evita compresión */
}

.ori-drawer{
  width: 420px;
  padding: 18px 18px 24px;
  background: #fff;
}